<!--
<p>login works!</p>

<div>
    <p>{{ text }} </p> 
    <div (click)="changeText('text2')"> Press here to change me

    </div>

    <input [(ngModel)]="inputValue">
    <p>{{inputValue}}</p>

</div>
-->
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>


  </style>
</head>

<body>

<div>
  <!--<p>Current date: </p>-->

</div>

<div class="bg-img">

  <form action="/action_page.php" class="container">
    <h1 style="text-align: center;">Login to your account</h1>

    <label for="email"><b>Email</b></label>
    <input [(ngModel)]="email" type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input [(ngModel)]="parola" type="password" placeholder="Enter Password" name="psw" required>

    <button (click)="login()" type="submit" class="btn">Login</button>

    <div class="divider"></div>

    <button routerLink="/register" type="submit" class="btn" id="reg">Register</button>

    <div class="divider"></div>


  </form>


  <!--
  <form class="container">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

  -->


</div>


</body>

</html>
